# Dependencies
travel-planner-app/node_modules/
travel-planner-server/node_modules/

# Build outputs
travel-planner-app/build/
travel-planner-server/dist/

# Dependency directories
node_modules/
# Editor directories and files
.vscode/